[submodule "Dependencies/MonoScene"]
	path = Dependencies/MonoScene
	url = https://github.com/AtomicBlom/MonoScene.git
[submodule "Dependencies/Myra"]
	path = Dependencies/Myra
	url = https://github.com/AtomicBlom/Myra.git